html, body {
    background-color: #6ab2c4;
    height: 100%;
    margin: 0;
}

table {
    background-color: rgb(77, 135, 211);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    height: 80px;
    width: 80px;
    background-color: #506585;
    opacity: 0.9;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    border: 0.8px rgb(55, 81, 116) solid;

}    

numberButton {
    height: 80px;
    width: 80px;
    background-color: #c0c0c0;
    border: 0px #c0c0c0;

}

#buttonZero {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: -1px;
}

#buttonClear {
    color: red;
    font-weight: bold;
}

p {
    background-color: white;
    height: 80px;
    margin: 0px;
    font-size: 30px;
    display: flex;
    padding-top: 10px;
    padding-left: 20px;

}
